<!DOCTYPE html>
<html lang="en">

<head>
    <title>Restaurant Map</title>
    <link rel="shortcut icon" src="img/title.png" href="" />
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compable"  content="ie-edge">
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <header>
        <!-- navigation links -->
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav">
                <li class="selected"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/search">Find a restaurant</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">About</a></li> -->
            </ul>
        </nav>
    </header>

    <!-- the content -->
    <main>
        <!-- hero content -->
        <section class="hero">
            <!-- content for the hero -->
            <div class="hero__content">
                <h1 class="hero__title">Mashup API</h1>
                <p class="hero__subtitle">Find the right feeder</p>

                <a href="/search">Find</a>
                <a href="#">About</a>
            </div>
        </section>

        <!-- features section -->
        <article class="features">
            <div class="features__header">
                <h2>API Used</h2>
            </div>

            <div class="features__box-wrapper">
                <div class="features__box">
                    <img src="img/zomato.png" alt="Zomato API icon" />
                    <h5>Zomato API</h5>
                    <p>Provide the best and accurate restaurant, ratings and reviews.</p>
                </div>

                <div class="features__box">
                    <img src="img/gmapapi.png" alt="OpenWeather API icon" />
                    <h5>OpenWeather API</h5>
                    <p>Helps to warn you about the weather of the area your chosen restaurant at.</p>
                </div>

                <div class="features__box">
                    <img src="img/openweathericon.png" alt="Google Map API icon" />
                    <h5>Google Map API</h5>
                    <p>Provides the precise location of yours and restaurants</p>
                </div>
            </div>
        </article>
    </main>
    <!-- the footer -->
    <footer>
        <span>Benny Diep<br />Copyright &copy; 2019 </span>
    </footer>
</body>

</html>